.reduxAgenda{background-color: rgb(248, 215, 191); border: 1px solid gray; padding: 10px; 
.listTheContacts ul{list-style-type: none; 
li{color: rgb(24, 21, 97); font-size: larger ; font-weight: 700;}}
input{height: 20px; padding-left: 15px;margin-left:15px}
}